{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "es5",
    "printWidth": 80,
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "jsxSingleQuote": false,
    "useTabs": false,
    "bracketSameLine": false,
    "parser": "typescript",
    "plugins": [
      "prettier-plugin-tailwindcss"
    ],
    "tailwindConfig": "./tailwind.config.js",
    "overrides": [
      {
        "files": ["*.ts", "*.tsx"],
        "options": {
          "parser": "typescript"
        }
      },
      {
        "files": ["*.json", "*.jsonc"],
        "options": {
          "parser": "json"
        }
      }
    ]
  }